<!DOCTYPE html>
<html>
<head>
	<title>portisTest</title>

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
  crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="reset.css">
</head>
<body>

<!-- list of every users to select case à cocher /mettre une div qu'on toggle-->

</form>
  <div class="container" id="newmeeting">
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <header>
          <h1>Create a new meeting</h1>
        </header>
        <div class="card meeting-card">
          <form method="post" action="/meeting" class="meeting">
            <label for="name">Name of the meeting</label>
            <input type="text" class="form-control" name="name">
            <label for="meetTime">Time of meeting</label>
            <input type="datetime-local"  class="form-control" name="meetTime">
            <label for="stake">stake</label>
            <input type="number"  class="form-control" name="stake">
          </br>
        
          <div class="result">
               <% for(let i = 0; i < result.length; i++) { %>   

        <div class="result-items">
          <h3> <%=result[i].prenom %> </h3>
          <input type="checkbox" name="participants[]" id="participants" value= <%=result[i].email %>   >

        </div>

    <% } %>
    <input type="submit"  class="btn btn-primary" name="submit" id="submit">

</div>
          </form>
        </div>
      </div>
      <div class="col-3"></div>
    </div>
  </div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>

<script type="text/javascript">
	

	
</script>





</body>
</html>