<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<!--afficher les demandes de transactions et les valider ou les infirmer-->
	<!-- set si un participant est onTime -->
	

    <h1>Participants</h1>
    <% for(let i = 0; i < result.length; i++) { %>
        <article>
            <h2><%= result[i].nom %></h1>
            <p><%= result[i].address %></p>
        </article>
    <% } %>




</body>
</html>