<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	
	    <% for(let i = 0; i < result.length; i++) { %>
        <article>
            <h2><%= result[i].nom %></h1>
            <p><%= result[i].time %></p>
            <p><%= result[i].stake %></p>
        </article>
    <% } %>


</body>
</html>