/* LOGIN */
body {
    background-image: url("bck-img.jpg");
}

#login{
    padding: 1rem;
}
#signin{
    padding: 1rem;
}
/* HOME PAGE */

.sidebar{
    max-width: 100px;
}
.profile{
    display: block;
    height: 100%;
}
/* NEW MEETING */
#newmeeting .card{
    padding: 1rem;
}

/* ADMIN PAGE */
.meetingcard {
    padding: 0px !important;
    margin-left: 1rem;
    margin-right: 1rem;
}

.card-title {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.card-body {
    padding: 0px;
    padding-left: 1.25rem;
}

.meetupName {
    background-color: lightgrey;
    padding: 0px;
}

.participantsList button {
    margin-top: 5px;
}

.status {
    display: block;
    border: red solid 1px;
    width: 60px;
}